@use "../components/buttons";
@use "../base/typography";

form {
  font-family: var(--primary-font);
  color: white;
  padding: 2rem 0;
  margin: 0 1.5rem;

  //form displaying in steps
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.form_group {
  display: none;
  pointer-events: none;
  opacity: 0;
}

.visible {
  display: block;
  pointer-events: all;
  animation: visible 0.7s ease-in-out 1 forwards;
  background-color: var(--background-color);
}

@keyframes visible {
  to {
    opacity: 1;
  }
}

#step_1,
#step_2,
#step_3,
#step_4,
#step_5 {
  grid-area: 1/1;
}
#step_5 {
  order: -5;
}
#step_4 {
  order: -4;
}

#step_3 {
  order: -3;
}

#step_2 {
  order: -2;
}

#form_wrapper h1 {
  padding: 2rem 0;
  color: var(--labels-titles-button);
  font-family: var(--secondary-font);
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#form_wrapper h1 span {
  display: block;
  -webkit-text-stroke: 1px var(--labels-titles-button);
  -webkit-text-fill-color: transparent;
}

#form_wrapper p {
  color: white;
  font-family: var(--primary-font);
  margin: 0 1.5rem;
}

#form_wrapper p:nth-of-type(2) {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

label[for="types-game"] span,
label[for="games-played"] span {
  display: block;
  margin-top: 0.5rem;
}

select {
  appearance: none;
  font-family: var(--primary-font);
  color: var(--unfocused-field);
  background-color: var(--background-color);
  margin-top: 3rem;
  padding: 0 1rem 1rem 1rem;
  height: 13vh;
  font-size: 1rem;
  border: none;
  border-left: solid 2px var(--main-typography-color);
  max-width: 50%;
  overflow-y: scroll;
}

option {
  margin-left: 1vw;
  font-size: 0.9rem;
}
option:checked {
  color: var(--focused-field);
  background-color: var(--background-color);
  font-weight: 700;
}

.progress_bar {
  margin: 2rem 1rem 1rem 1rem;
  max-width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0vh;
  background-color: var(--background-color);
  z-index: 9;
}

.go-away {
  display: none;
}

//Title section, labels, legend and hint text; Valid/invalid/focus

.group_title {
  font-family: var(--secondary-font);
  color: var(--light-purple);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.label-title {
  font-family: var(--secondary-font);
  font-size: 1rem;
  color: var(--labels-titles-button);
}

.hint {
  font-family: var(--primary-font);
  color: white;
  font-size: 0.8rem;
}

.input_group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
// input text

.input_group input {
  background-color: var(--background-color);
  border-bottom: 1px solid white;
  height: 50px;
  color: var(--unfocused-field);
  font-size: 0.9rem;
}
.form_group:first-of-type input {
  padding-left: 3.5rem;
}
.form_group:first-of-type .hint {
  margin-bottom: -2.5rem;
}
::placeholder {
  color: var(--placeholder);
  font-size: 0.9rem;
}

.icon {
  position: relative;
  top: 45px;
  left: 10px;
}
.user,
.email {
  width: 25px;
  height: 25px;
}
.buttons_wrapper {
  margin-top: 3rem;
}
// Checkboxes

.standard-checkbox,
.image-checkbox,
.button-checkbox,
.radio-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
.standard-checkbox ul {
  display: grid;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.standard-checkbox input {
  width: 1.4rem;
  height: 1.4rem;
  background-image: url("/assets/radio-check/checkbox.svg");
  background-repeat: no-repeat;
}
.standard-checkbox li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-items: baseline;
}
.standard-checkbox span,
.image-checkbox span {
  margin-top: 0.5rem;
}

.standard-checkbox input:checked {
  width: 1.4rem;
  height: 1.4rem;
  background-image: url("/assets/radio-check/checkbox-checked.svg");
  background-repeat: no-repeat;
}
.standard-checkbox input:focus-within + label {
  color: var(--focused-field);
  font-weight: bold;
}

.standard-checkbox input[type="checkbox"]:checked + label {
  color: var(--focused-field);
  font-weight: bold;
}

.standard-checkbox label {
  color: var(--unfocused-field);
  grid-area: 1/1;
  font-size: 0.9rem;
}

// Checkboxes with images
.nutrition-icon,
.improve-icon {
  width: 4rem;
  margin-bottom: 0.2rem;
  z-index: 6;
  pointer-events: none;
}
.image-checkbox ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  width: 70%;
  margin-top: 1rem;
}

.image-checkbox ul li {
  /*   display: flex;
  flex-direction: column; */
  display: grid;

  padding: 0.5rem;
  place-items: center;
  position: relative;
}

.image-checkbox label {
  color: var(--unfocused-field);
  cursor: pointer;
  grid-area: 1 / 1;
}

.image-checkbox label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: var(--bg, #fff); */
  border-radius: 10px;

  border: 2px solid white;
  z-index: 1;
}

.image-checkbox input:focus ~ label::before {
  background: rgba(255, 255, 255, 0.274);
}
.image-checkbox input:checked ~ label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 10px;
  background-color: white;
  border: 2px solid white;
}
.image-checkbox .nutrition-label,
.image-checkbox .improve-label {
  z-index: 8;
  color: var(--unfocused-field);
  pointer-events: none;
  font-size: 0.7rem;
}
.image-checkbox input:checked ~ .nutrition-label,
.image-checkbox input:checked ~ .improve-label {
  color: #16162a;
  font-weight: bold;
  font-family: var(--primary-font);
}
// Checkboxes "buttons"

.button-checkbox ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  column-gap: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

.button-checkbox ul li {
  /*   display: flex;
  flex-direction: column; */
  display: grid;

  padding: 0.5rem 1rem;
  place-items: center;
  position: relative;
}

.button-checkbox label {
  color: var(--unfocused-field);
  cursor: pointer;
  grid-area: 1 / 1;
}

.button-checkbox label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: var(--bg, #fff); */
  border-radius: 30px;
  border: 2px solid white;
  z-index: 1;
}

.button-checkbox input:focus ~ label::before {
  background: rgba(255, 255, 255, 0.274);
}

//add change on focus

.button-checkbox input:checked ~ label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 30px;
  background-color: white;
  border: 2px solid white;
}

.button-checkbox .games-label {
  z-index: 8;
  color: var(--unfocused-field);
  pointer-events: none;
  font-size: 0.9rem;
}

.button-checkbox input:checked ~ .games-label {
  color: #16162a;
  font-family: var(--primary-font);
  font-weight: bold;
}
.button-checkbox .hint {
  margin-top: 0.5rem;
}
//radio buttons

input[type="radio"] {
  height: 1.4rem;
  width: 1.4rem;
  background-image: url("/assets/radio-check/radio-button.svg");
  background-repeat: no-repeat;
}

input[type="radio"]:focus + .radio-text {
  font-weight: 700;
  color: var(--focused-field);
}

input[type="radio"]:checked {
  height: 1.4rem;
  width: 1.4rem;
  background-image: url(/assets/radio-check/radio-button-checked.svg);

  background-repeat: no-repeat;

  color: var(--focused-field);
}

.radio-text {
  font-size: 0.9rem;
}
input[type="radio"]:checked + .radio-text {
  font-weight: 700;
}

/* .radio-boxes li label {
  display: flex;
  flex-direction: row;
  align-items: center;
} */
.radio-field .hint {
  margin-top: 0.5rem;
}
.radio-field li {
  /*  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-items: baseline;
  align-content: space-between; */
  display: grid;
  grid-template-columns: 1.4rem 1fr;
  gap: 1rem;
}

.radio-field input:focus-within + .radio-text {
  color: white;
  font-weight: bold;
}
.radio-field ul {
  display: grid;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

//valid invalid and focus

input[type="text"],
input[type="email"],
input[type="password"] {
  &:invalid {
    background-image: url(/assets/validation/invalid.svg);
    background-size: 16px 18px;
    background-repeat: no-repeat;
    background-position: 98% 50%;
  }

  &:valid {
    background-image: url(/assets/validation/valid.svg);
    background-size: 16px 18px;
    background-repeat: no-repeat;
    background-position: 98% 50%;
  }

  &:placeholder-shown {
    background-image: none;
  }
  &:focus {
    border: solid 1px white;
    border-radius: 13px;
  }
}

input[id="types-game"],
input[id="games-played"] {
  &:valid {
    background-image: none;
  }
}

//progress bar

svg {
  margin: auto;
}
circle {
  cursor: pointer;
}

.line {
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 19px;
}
.background-line {
  fill: #e3e3e5;
  stroke: #ffffff;
}
.progress-line {
  fill: #6259fa;
  stroke: #6259fa;
}
.cls-circle {
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 19px;
  fill: white;
}
.cls-unclicked {
  stroke: #ffffff;
  fill: var(--background-color);
}
.cls-clicked {
  stroke: #6259fa;
  fill: var(--background-color);
}
.cls-focused {
  fill: #6259fa;
  stroke: #ffffff;
}

///Thank you page

#step_5 .visible {
  margin: 0 -1.5rem;
  display: grid;
}

#step_5 button {
  margin: 5vh auto auto auto;
  align-self: center;
}

#img-wrapper {
  margin-top: 10vw;
  display: grid;
  justify-content: center;
  grid-gap: 1rem;
}

.img-container {
  max-width: 300px;
  cursor: pointer;
}

.img-container img {
  transition: 1s ease-in;
}

.img-container img:hover {
  filter: brightness(0.4);
  transform: scale(1.1);
}

.required {
  font-size: 0.7rem;
  color: var(--light-purple);
  margin: 0;
}

///Media queries have been moved down
@media screen and (max-width: 950px) {
  .image-checkbox ul {
    width: 100%;
  }
  .user,
  .email {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 951px) and (max-width: 1100px) {
  .image-checkbox ul {
    width: 80%;
  }
}
@media screen and (min-width: 500px) {
  form {
    margin: 0 2rem;
  }
  #form_intro {
    margin: 0 2rem;
  }

  #form_wrapper h1 {
    font-size: 2.5rem;
  }
  #form_wrapper h1 span {
    margin-top: -10px;
  }
  .group_title {
    font-size: 1.5rem;
  }
  .image-checkbox ul {
    gap: 1em;
  }

  .image-checkbox .nutrition-label,
  .image-checkbox .improve-label {
    font-size: 0.9rem;
  }

  #step_5 {
    margin: 0;
  }
  .radio-text {
    width: max-content;
  }
}

@media screen and (min-width: 700px) {
  form {
    margin: 0 15vw;
    padding: 2vh 0 5vh 0;
  }

  .progress_bar {
    margin: 2vh 15vw 0 15vw;
  }

  #form_intro {
    margin: 0 15vw;
  }
}

@media screen and (min-width: 900px) {
  #form_wrapper h1 {
    font-size: 3rem;
  }

  .input_group {
    margin-bottom: 1.5rem;
  }

  #img-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .img-container:nth-of-type(2),
  .img-container:nth-of-type(5) {
    margin-top: -5vh;
  }
}

@media screen and (min-width: 1200px) {
  form,
  #form_intro {
    margin: 0 18vw;
  }

  .progress_bar {
    margin: 4vh 18vw 0 18vw;
  }
}

@media screen and (min-width: 1700px) {
  form,
  #form_intro {
    margin: 0 25vw;
  }

  .progress_bar {
    margin: 4vh 25vw 0 25vw;
  }
}
