@use "../components/buttons";
@use "../base/typography";

header,
.background,
footer,
#form_wrapper {
  background-color: var(--background-color);
}
header img,
.background img,
footer img {
  object-fit: cover;
}
#value_proposition {
  background-color: var(--background-color);
  display: grid;
  place-items: center;
}
.value_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding: 5rem;
  justify-items: center;
}
.value_icon img {
  width: 50%;
  margin: 0 auto;
  display: block;
  padding-bottom: 2rem;
}

.value {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 70%;
  text-align: center;
}

.value_description {
  font-size: 1rem;
  color: white;
  font-family: var(--primary-font);
}

@media screen and (max-width: 900px) {
  .value_description {
    font-size: 0.7rem;
  }
  .value_wrapper {
    padding: 1rem;
    padding-top: 3rem;
    gap: 2rem;
  }
  .value_icon img {
    width: 50%;
    padding-bottom: 1rem;
  }
  .value {
    width: 100%;
  }
}
@media screen and (min-width: 702px) and (max-width: 900px) {
  .value_description {
    font-size: 0.9rem;
  }
  .value_wrapper {
    padding: 1rem;
    padding-top: 3rem;
    gap: 2rem;
  }
  .value_icon img {
    width: 40%;
  }
  .value {
    width: 80%;
  }
}
