@use "../base/typography";

button {
  border: none;
  background: var(--labels-titles-button);
  border-radius: 33px;
  padding: 0.5rem 1.5rem;
  font-family: var(--primary-font);
  text-transform: uppercase;
  color: white;
  transition: 0.5s ease-in;
  cursor: pointer;
}

.cta {
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 15vh;
}
.move-cta {
  padding: 1rem;
  /*  position: -webkit-sticky;
  position: sticky;
  top: 90vh;
  left: 44%; */
  left: 50%;
}
.move-filter {
  padding: 1rem;
  width: 150px;
  /*  position: -webkit-sticky;
  position: sticky;
  top: 90vh;
  left: 35vw; */
}
.sticky-wrap {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 68vh;
  justify-content: center;
  padding-top: 10rem;
  margin-bottom: 10rem;
}

.buttons_wrapper{
  display: flex;
  gap: 1rem;
}

.btn_next {
  border: solid 2px var(--labels-titles-button);
  background: var(--labels-titles-button);
  border-radius: 33px;
  padding: 0.5rem 1.5rem;
  font-family: var(--primary-font);
  text-transform: uppercase;
  color: var(--focused-field);
  display:flex;
  gap: 10px;
  align-items: center;
}
.button_span{
  display: inline-block
}


/* .btn_next::after {
  content: url(/assets/arrows/arrow-next.svg);
  width: 20px;
  height: 10px;
  float: right;
  margin-left: 10px;
  transition: 0.3 ease-out;
}
.btn_next::after:hover {
  transform:translateX(20px)
} */

.btn_previous {
  border: solid 2px var(--light-purple);
  background: transparent;
  border-radius: 33px;
  padding: 0.5rem 1rem;
  font-family: var(--primary-font);
  text-transform: uppercase;
  color: var(--unfocused-field);
  display:flex;
  gap: 10px;
  align-items: center;

}

.button_arrow img{
  max-width: 20px;
}
.button_arrow_back{
  order: -2;
  display:grid;
  justify-content: center;
  transition: 0.5s cubic-bezier(.11,-0.01,.65,.98);
}

.button_arrow_back:hover{
  transform:translateX(-10px)
}

.button_arrow_next{
  display:grid;
  justify-content: center;
  transition: 0.5s cubic-bezier(.11,-0.01,.65,.98);
}
.button_arrow_next:hover{
  transform:translateX(10px)
}

/* .btn_previous::before {
  content: url(/assets/arrows/arrow-back.svg);
  transform-origin: bottom;
  width: 20px;
  height: 10px;
  float: left;
  margin-right: 10px;
} */

@media screen and (max-width: 400px){
  .btn_next, .btn_previous{
    font-size: 0.7rem;
   }
   #step_4 button{
    padding: 0.5rem 0.5rem;
   }
}

@media screen and (min-width: 1600px) {
  .sticky-wrap {
    top: 75vh;
  }
}
@media screen and (max-width: 700px) {
  .sticky-wrap {
    gap: 1rem;
  }
}


