@font-face {
  font-family: "shapiro-regular";
  src: url(/assets/typefaces/sharpiro-regular.woff2) format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "shapiro-bold";
  src: url(/assets/typefaces/sharpiro-bold.woff2) format("woff2");
  font-style: normal;
  font-weight: normal;
}
:root {
  --primary-font: "shapiro-regular", arial, sans-serif;
  --secondary-font: "shapiro-bold", arial, sans-serif;
  --main-typography-color: white;
  --labels-titles-button: #6259fa;
  --light-purple: #CACEFC;
  --valid: #5be080;
  --invalid: #e05b5b;
  --placeholder: #e3e3e5bb;
  --background-color: #16152b;
}
